uploads/
S3_uploads/
.well-known/
/application/logs/
/application/config/config.php
/application/config/email.php
/application/config/database.php
/Templates/Pdf/
/assets/OCR/OCRImages/
.htaccess
/application/config/config.php
/application/config/database.php
application/config/config.php
application/config/database.php
xml/*
